@{
    ViewData["Title"] = "Home Page";
}

<div class="mainPage">
    <div class="imageSection">
        <img src="~/images/record.jpg" alt="Vinyl Record" class="recordImage">
    </div>
    <div class="textSection">
        <h1 class="mainHeading">HERE AT THE VINYL ADVENTURE</h1>
        <p class="description">
            We are passionate about sound quality; we stock the very best audiophile-grade vinyl records and have probably the largest stockholding in the UK.
        </p>
        <a asp-controller="Products" asp-action="Index" class="shopButton">Shop now</a>
    </div>
</div>
